* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  background-color: #454545;
} */

.window--background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 88, 88, 0.9);
  opacity: 100%;
  z-index: 1000;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
}

.nav_list {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  margin: 0 30px;
  transition: all 0.3s;
  list-style-type: none;
}


/* Refactor this? */
.login_btn {
  display: inline-flex;
  background-color: aqua;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0 50px;
  z-index: 100;
}

.account_btn {
  display: inline-flex;
  background-color: orange;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0 50px;
  z-index: 100;
}

.signOut_btn {
  position: sticky;
  display: inline-flex;
  background-color: red;
  border-radius: 15px;
  cursor: pointer;
  padding: 0 50px;
  left: 85%;
  float: right;
  transition: all 0.3s;
  z-index: 100;
}

.window--login {
  position: fixed;
  top: 16%;
  left: 30%;
  width: 40%;
  height: 530px;
  background-color: pink;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1500;
  transition: all;
}

.window--signup {
  position: fixed;
  top: 16%;
  left: 30%;
  width: 40%;
  height: 530px;
  background-color: pink;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1500;
}

.hidden {
  display: none;
}

.Title_form {
  font-size: 3.5rem;
  color: brown;
  padding: 16px;
  text-shadow: 2px 2px 4px #000000;
}



.form_structure {
  display: inline-block;
  margin: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.window--background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 88, 88, 0.9);
  opacity: 100%;
  z-index: 1000;
}

.nav {
  display: grid;
}

.nav_list {
  border: none;
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  margin: 0 30px;
  transition: all 0.3s;
  list-style-type: none;
}

.btn1 {
  position: fixed;
  left: 45%;
  top: 60%;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
  font-size: 30px;
  padding: 16px 60px;
  transition: all 0.3s;
  background-color: red;
}

.btn2 {
  position: fixed;
  left: 45%;
  top: 60%;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
  font-size: 30px;
  padding: 16px 60px;
  transition: all 0.3s;
  background-color: red;
}

/* Refactor this? */
.login_btn {
  display: inline-block;
  background-color: aqua;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0 50px;
  z-index: 100;
}

.account_btn {
  display: inline-block;
  background-color: orange;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0 50px;
  z-index: 100;
}

/*  */

.window--login {
  position: fixed;
  top: 16%;
  left: 30%;
  width: 40%;
  height: 530px;
  background-color: pink;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1500;
  transition: all;
}

.window--signup {
  position: fixed;
  top: 16%;
  left: 30%;
  width: 40%;
  height: 530px;
  background-color: pink;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1500;
}

.hidden {
  display: none;
}

.Title_form {
  font-size: 3.5rem;
  color: brown;
  padding: 16px;
  text-shadow: 2px 2px 4px #000000;
}

.login_form {
  margin: 50px;
  width: 50%;
}

.login--des {
  font-size: 30px;
}

.errorLgn {
  position: fixed;
  right: 50%;
  font-size: 20px;
  /* display: flex; */
  justify-content: center;
  color: red;

}

.Welcome--nav {
  display: inline-flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
}

.form_structure {
  display: inline-block;
  margin: 15px;
}

.user--page {
  position: relative;
}

.user--Form {
  position: absolute;
  padding: 90px 20px;
  /* margin-top: 5%; */
  /* margin-left: 10px; */
  margin: 50px 10px 0px 10px;
  height: 600px;
  width: 500px;
  border-radius: 15px;
  background-color: rgb(255, 110, 64);
  z-index: 1000;
  box-shadow: 10px 10px;
  transition: all 3s;
}

.title {
  display: inline-flex;
  font-size: 35px;
  top: 20%;
}

/* Gonna refactor this later  */
.description {
  position: relative;
  display: inline-flex;
  padding: 50px 0px 0px 20px;
  font-size: 25px;
}

.category {
  position: relative;
  display: inline-flex;
  padding: 50px 0px 0px 20px;
  font-size: 25px;
}

.price {
  position: relative;
  display: inline-flex;
  padding: 50px 0px 0px 20px;
  font-size: 25px;
}

.search--Btn {
  position: absolute;
  padding: 20px 60px;
  background-color: chartreuse;
  font-size: 20px;
  margin: 150px 0px 0px -130px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 15px;
}

.add--Btn {
  position: relative;
  display: inline-flex;
  left: 60px;
  padding: 20px 20px;  
  background-color: crimson;
  font-size: 20px;
  cursor: pointer;
  border-radius: 15px;
}
.table--display {
  position: absolute;
  /* display: grid; */
  left: 40%;
  margin: 40px 100px 0px 0px;
  /* margin: 100px 100px 0px 50%; */
  /* padding: 20px 0px;  */
  width: 900px;
  height: 700px;
  background-color: white;
  overflow: scroll;
}

.table--row {
  display: grid; 
  padding: 12px 30px;
  font-size: 30px;
  background-color: white;
  border: 1px solid black
}

.review_btn{
    display: grid; 
}

.review{
  position: fixed;
  top: 16%;
  left: 45%;
  width: 40%;
  height: 530px;
  background-color: grey;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1500;
  transition: all;  
}

.review--form{
  padding-left: 30px;
}


.cancel_rev{
  font-size: 10px; 
  width: 70px; 
  height: 30px; 
  background-color: grey;
  
  border: 2px solid black;
  

}

.submit_rev:hover {
  background-color: #4CAF50; 
  color: white;
}

.cancel_rev:hover {
  background-color: #f01111; 
  color: white;
}


.rev_structure{
  margin-top: 30px;
  display: flex;
}

textarea {
  resize: none;
}
.submit_rev {
  margin-left: 48px;
}
/* .prodcut--description{
  display: grid; 
} */